<div ng-show="masterView.show" class="modal fade in">

    <div class="modal-backdrop"></div>

    <div class="modal fade">

        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">

                    <button type="button" class="close" ng-click="hideMasterDetail()">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <h4 class="modal-title">Detailed Information</h4>
                </div>

                <div class="modal-body">

                    <div class="detailed-information-container" ng-repeat="( key, value ) in masterView.value">

                        <div class="info-group">
                            <label>{{ mapToHeader( key )[0].name }}</label>
                            <p>{{ value }}</p>
                        </div>

                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-dismiss" ng-click="hideMasterDetail()">Close</button>
                </div>

            </div>

        </div>

    </div>

</div>
